* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

p {
    font-family: "Lustria", serif;
    font-weight: 400;
    font-style: normal;
    color:#a57f60;
}

.br {
    margin-bottom: 10px;
}

hr {
    border: solid 0.5px white;
}

body {
    line-height: 1.6;
    background-image: linear-gradient(#dfe0dc, #b592759b);
    height: 100%;
}

img {
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo img {
    max-height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #a57f60;
    text-decoration: none;
}

section {
    padding: 20px;
}

h1 {
    text-align: left;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 5em;
    margin-right: 30px;
    line-height: 80px;
    margin-bottom: 0.3em;
    margin-left: -10px;
    color: white;
}

h2 {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: white;
}

.portfolio {
    margin-bottom: 2em;
}

.image-placeholder, .text-placeholder {
    padding: 2px;
    margin-bottom: 20px;
}

.home-content {
    display: flex;
    justify-content: space-between;
}

.text-and-social {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    margin-left: 50px;
}

.image-placeholder {
    flex: 2;
}

.image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-media a {
    margin: 5px 0;
    text-decoration: none;
    color: #333;
}

#work {
    padding: 40px 20px;
    overflow: hidden;
}

.grid {
    max-width: 100%;
    max-height: 100vh;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: row dense;
    grid-gap: 10px;
    counter-reset: boxes;
    overflow-y: auto;
}

.box {
    position: relative;
    background: black;
    font-size: 2rem;
    font-family: sans-serif;
    counter-increment: boxes;
    border-radius: 10px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wide {
    grid-row: span 1;
    grid-column: span 1;
}

.square {
    grid-row: span 2;
    grid-column: span 2;
}

.tall {
    grid-row: span 1;
    grid-column: span 2;
}

.small {
    grid-row: span 1;
    grid-column: span 1;
}

h2 {
    margin-bottom: 1em;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5em;
    width: 250px;
    height: 150px;
    text-align: left;
    color: #a57f60;
}

.categories p {
    color: white;
}

.vl {
    /*position: absolute;
    left: 50%;
    top: 0;
    bottom: 0; */
    border-left: 1px solid white;
    height: 50px;
    padding-right: 20px;
}

.areas {
    padding-right: 20px;
    /*
    position: absolute;
    left: 0;
    top: 0;*/
}

.time {
    padding-right: 20px;
    /*position: absolute;
    right: 0;
    top: 0;*/
}

.role {
    padding-right: 20px;
    /*position: absolute;
    right: 0;
    top: 0;*/
}

.work, p {
    margin-bottom: 1.5em;
    max-width: 70%;
}

.work-gallery {
    margin-top: 3em;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: row dense;
    grid-gap: 10px;
    counter-reset: boxes;*/
}

.work-item {
   /* position: relative;
    grid-row: span 2;
    grid-column: span 2;*/
    max-width: 20%;
}

.work-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #a57f60;
    text-align: center;
  }

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
  }

  form {
    color: white;
  }
  
  .box:hover img{
    opacity: 40%;
    transition: 0.3s;
  }

  .box:hover .text {
    opacity: 1
  }

  .x {
    /*grid-row: span 2;
    grid-column: span 4;*/
    max-width: 45%;
  }

  .y {
    max-width: 28%;
  }

  .z {
    max-width: 60%;
  }

  .o {
    max-width: 38%;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.text-placeholder {
    flex: 1;
    margin-right: 20px;
}

.img-placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 65vh;
}

.img-placeholder img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.text-placeholder p {
    margin-bottom: 20px;
    color: white;
}

.text-placeholder a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: none;
    border: 0.5px solid #a57f60;
    color: #a57f60;
    text-decoration: none;
    border-radius: 5px;
}

.text-placeholder a:hover {
    background: #a57f60;
    color: white;
}

header li a {
    display: inline-block;
    padding: 3px 8px;
    background: none;
    border: 0.5px solid #a57f60;
    color: #a57f60;
    text-decoration: none;
    border-radius: 5px;
}

header li a:hover {
    background: #a57f60;
    color: white;
}

@media (max-width: 1000px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .text-placeholder {
        margin-right: 0;
    }

    .img-placeholder {
        width: 100%;
        height: auto;
        margin-bottom: 5%;
    }

    .img-placeholder img {
        width: 500px;
        height: 450px;
        object-fit: cover;
        display: block;
        margin: auto;
    }
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.contacth2 {
    flex: 1;
    margin-right: 20px;
}

.contacth2 p {
    color: white;
}

.contacth2 h2 {
    font-size: 5em;
    margin-bottom: 0;
}

.contacth2 a {
    text-decoration: none;
    color:#a57f60;
    font-weight: bold;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#name, #email, #message {
    width: 100%;
}

#message {
    height: 350px;
}

button {
    display: inline-block;
    padding: 5px 10px;
    background: none;
    border: 0.5px solid white;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.social-media img {
    width: 30px;
    border-radius: none;
}

.social-media img:hover {
    background-image: url(insta2.png);
}

@media (max-width: 1000px) {
    #contact {
        flex-direction: column;
        align-items: center;
    }

    .contacth2, .contacth2 p {
        text-align: center;
        margin: auto;
    }
}

footer {
    margin-top: 7em;
}

footer p {
    padding: 50px;
    text-align: center;
    max-width: 100%;
    margin-bottom: 0;
    color: white;
}
